.nonprop {
        /*font-family: "Lucida Console", Monaco, monospace;*/
        font-size: 16px;
        font-family:monospace,monospace;
}

.col1 {
        width: 40%;
}

.col2 {
        width: 20%;
        justify-content: center;
}

.col3 {
        width: 15%;
        justify-content: center;
}

.col4 {
        width: 25%;
        justify-content: center;
}
